.container {
  display: flex;
  flex-basis: 1440px;
  height: 70px;
  justify-content: center;
  align-items: center;
}

.title {
  width: 254px;
  height: 41px;
  background: url("../../assets/Coctail_DB.svg") no-repeat center;
  background-size: contain;
}

.logo {
  width: 28px;
  height: 50px;
  margin: 10px 0 10px 41px;
  background: url("../../assets/logo.svg") no-repeat center;
  background-size: contain;
}
