<div class="container">
  <div class="catigory-list">
    <p class="catigory-list_title">title</p>
    <div class="cards">
      <div class="drink-card">
        <img src="" alt="">
        <p class="drink-card_title">drink title</p>
      </div>
      <div class="drink-card">
        <img src="" alt="">
        <p class="drink-card_title">drink title</p>
      </div>
      <div class="drink-card">
        <img src="" alt="">
        <p class="drink-card_title">drink title</p>
      </div>
      <div class="drink-card">
        <img src="" alt="">
        <p class="drink-card_title">drink title</p>
      </div>
      <div class="drink-card">
        <img src="" alt="">
        <p class="drink-card_title">drink title</p>
      </div>
      <div class="drink-card">
        <img src="" alt="">
        <p class="drink-card_title">drink title</p>
      </div>
    </div>
  </div>
</div>
